<h2>Index of articles:</h2>
<div class="article-list">
	<ul>
	{{#each}}
		<li>
		    <span class="title">{{#link-to 'articles.view' _id}}{{title}}{{/link-to}}</span>
		    <span>by {{ user.name }}</span>
		    <span>on {{formatDate created "short"}}</span>		
		</li>
	{{/each}}
	</ul>
</div>
