view article template
<div class="article">
	{{#each}}
	    <h2>{{ title }}</h2>
	    {{formatDate created "short"}}<span class="title">{{#link-to 'articles.edit' id}}Edit{{/link-to}}</span>
	    
	    <div>
	   {{ content }}         
	    </div>
	{{/each}}
</div>
