<!--             <div>
                <a href="/auth/facebook">
                    <img src="/img/icons/facebook.png">
                </a>
                <a href="/auth/github">
                    <img src="/img/icons/github.png">
                </a>
                <a href="/auth/twitter">
                    <img src="/img/icons/twitter.png">
                </a>
                <a href="/auth/google">
                    <img src="/img/icons/google.png">
                </a>
            </div> -->

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <form action="/users/session" method="post" role="form">
                        <fieldset>
                            <div class="form-group">
                                <input id="email" class="form-control" type="text" name="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input id="password" class="form-control" type="password" name="password" placeholder="Password">
                            </div>
<!--                             <div class="checkbox">
                                <label>
                                    <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                </label>
                            </div> -->
                            
                            <button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
        window.flash = "{{{ message }}}";
</script>
