<p>
<span class="title">Drop the product here</span>
</p>
<table>
  <thead>
    <th>Product</th>
    <th>Quantity</th>
  </thead>
  {{#each line_item in line_items}}
    <tr class="line_item">
      <td>
      {{line_item.title}}
      <br />
      <small>$ {{line_item.price}}</small>
      </td>
      <td>
      {{line_item.quantity}}
      </td>
    </tr>
  {{/each}}
</table>
<p class="total"><b>Total: </b> $ {{total_price}}</p>