<h1>WHAST</h1>
<h1>WHAST</h1>
<h1>WHAST</h1>
<h1>WHAST</h1>
<h1>WHAST</h1>
{{#each model}}
<h1>WHAST</h1>
<h1>{{name}}</h1>
<h1>{{name}}</h1>

<div class="article">
        {{formatDate created "short"}}      
        <div>
            {{pageContent}}
        </div>
</div>
{{/each}}