<h4>The current name is: {{name}}</h5>
    {{outlet}}
<button {{action 'openModal' 'modal' model}}>Change Name</button>
<div class="well">
    <h2>Welcome to the Full Stack JS Boiler Plate</h2>
    <h3>Core components</h3>
    <ul>
    	<li>Node - Server Side</li>
    	<li>Express - Web Server Framework</li>
    	<li>Ember - Client Side MVC Framework</li>
    	<li>MongoDB - Database</li>
    </ul>
    <h3>Additional Tools Available</h3>
    <ul>
        <li>Bootstrap - front end framework</li>
    	<li>SASS - CSS pre-processor</li>
    	<li>jQuery - Write less, do more
	    <li>Grunt - The Javascript task runner</li>
	    <li>Bower - Client-side dependency management</li>
	    <li>RequireJS - Client-side module dependency and injection</li>
	    <li>Handlebars - Advanced Client-side templating </li>
	    <li>Hogan - Server-side templating</li>
	    <li>Livereload - Automatic browser reload per save</li>
	    <li>Mongoose - A NodeJS object modeler for MongoDB</li>
	    <li>Passport - User Authentication</li>
	    <li>Mocha - Unit Testing</li>
	    <li>Font Awesome - CSS Icons</li>
    </ul>    
</div>