{{#modal-dialog}}
<div class="full-size-photo-viewer">
	<div class="modal-body">
		<div class="photo">
			<img class="img-responsive center" {{bind-attr src='this.content.content.src'}}>
		</div>
		<div  class="side-panel">
			<div {{action 'forward' this}}>NEXT</div>
			<div {{action 'backwards' this}}>PREV</div>
			<div {{action 'close' this}}>CLOSE</div>
		</div>
	</div>
</div>
{{/modal-dialog}}