<h2>Index of articles:</h2>
<div class="article-list">
	<ul>
	{{#each}}
		<li>
 			<h2>{{ content.name }}</h2>
 			<span>by {{ user.name }}</span>
    		<img {{bind-attr src="content.path"}} {{bind-attr alt="content.name"}}>
		</li>
	{{/each}}
	</ul>
</div>
