
html, body {
    margin: 30px 0;
}
p {
padding: 15px;
}

.woof-message {
  cursor: pointer;
}

.woof-message:hover button.close {
  color: #000;
  opacity: .5;
}

div.x-woof-message-container.pre-insert, div.x-woof-message-container.destroyed {
/*   -webkit-transform: scaleY(0); */
  opacity: 0;
}

div.x-woof-message-container {
/*   -webkit-transform: scaleY(1);
  -webkit-transform-origin: top;
   */
  -webkit-transition: all 0.25s ease;
}