<section class="container" data-ng-controller="ReservationsController">
	<div class="col-md-8 col-md-offset-2">
		<form data-ng-submit="create()" style="margin-top: 15px;">
			<div class="form-group">
				<label class="control-label" for="title">Title</label>
				<div class="controls">
					<input type="text" data-ng-model="title" id="title" placeholder="Title" required class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<label class="control-label" for="content">Content</label>
				<div class="controls">
					<textarea data-ng-model="content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
				</div>
			</div>
			<div class="form-group">
				<div class="controls">
					<input type="submit" class="btn btn-base btn-dark">
				</div>
			</div>
		</form>
	</div>
</section>
