<div class="well">
    <h2>Welcome to the 100 Percent JS Boiler Plate</h2>
    <h3>Core components</h3>
    <ul>
    	<li>Node</li>
    	<li>Express</li>
    	<li>Ember</li>
    	<li>Bootstrap</li>
    	<li>MongoDB</li>
    </ul>
    <h3>Additional Tools Available</h3>
    <ul>
    	<li>SASS - CSS pre-processor</li>
    	<li>jQuery - Write less, do more
	    <li>Grunt - The Javascript task runner</li>
	    <li>Bower - Client-side dependency management</li>
	    <li>RequireJS - Client-side module dependency and injection</li>
	    <li>Handlebars - Advanced Client-side templating </li>
	    <li>Hogan - Server-side templating</li>
	    <li>Livereload - Automatic browser reload per save</li>
	    <li>Mongoose - A NodeJS object modeler for MongoDB</li>
	    <li>Passport - User Authentication</li>
	    <li>Mocha - Unit Testing</li>
	    <li>Font Awesome - CSS Icons</li>
    </ul>    
</div>