{{> header}}
    <section class="content">
        <section class="container">
            <div class="row">
                <div class="offset1 span5">
                    <a href="/auth/facebook">
                        <img src="/img/icons/facebook.png">
                    </a>
                    <a href="/auth/github">
                        <img src="/img/icons/github.png">
                    </a>
                    <a href="/auth/twitter">
                        <img src="/img/icons/twitter.png">
                    </a>
                    <a href="/auth/google">
                        <img src="/img/icons/google.png">
                    </a>
                </div>
                <div class="span6">
                    <div class="fade in alert alert-block alert-error"><a data-dismiss="alert" href="javascript:void(0)" class="close">x</a>
                        <ul></ul>
                    </div>
                    <form action="/users/session" method="post" class="signin form-horizontal">
                        <p class="error"></p>
                        <div class="control-group">
                            <label for="email" class="control-label">Email</label>
                            <div class="controls">
                                <input id="email" type="text" name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="control-group">
                            <label for="password" class="control-label">Password</label>
                            <div class="controls">
                                <input id="password" type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Sign in</button>&nbsp; or&nbsp;
                            <a href="/signup" class="show-signup">Sign up</a>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
