<h4>Create new type</h4>
<section>
	<form class="form-horizontal">
		<div class="control-group">		
			<div class="controls">
				{{input type="text" value=content.type id="type" placeholder="type"}}				
			</div>
		</div>		
		<div class="control-group">
			<div class="controls">
				<button class="btn" {{action 'createType'}}>Create type</button>
			</div>
		</div>
	</form>
</section>