<h2>Index of types:</h2>
<div class="type-list">
	<ul>
	{{#each}}
		<li>
		    <span class="title">{{#link-to 'types.type' id}}{{type}}{{/link-to}}</span>		   
		    <span>by {{ user.name }}</span>
		    <span>on {{formatDate created "short"}}</span>
		    		   	<span class="title">
	    	{{#link-to 'types.edit' id}}Edit{{/link-to}}
	    	</span>
		</li>
	{{/each}}
	</ul>
</div>
