<div class="template">

	    <h2>{{ title }}</h2>
	    {{formatDate created "short"}}<span class="title">{{#link-to 'templates.template' id}}Edit{{/link-to}}</span>
	    
	    <div>
	   {{ templateContent }}
	    </div>

</div>
