<section>
	<form class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="title">Title</label>
		
			<div class="controls">
				<input type="text" id="title" {{bind-attr value=title}} placeholder="Title" required>
				
				</input>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="templateContent">Body</label>
			<div class="controls">
				{{textarea id="templateContent" cols="30" rows="10" placeholder="Template Content"}}
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button class="btn" {{action 'createTemplate'}}>Contract</button>
			</div>
		</div>
	</form>
</section>