<section data-ng-controller="BookingFlowController" data-ng-init="findOneReservation();">
<div class="container">
    <h1>Please review your booking</h1>
    <p>Your trip to {{reservation.destination}} is from {{reservation.startDate | date:'mediumDate'}} to {{reservation.endDate | date:'mediumDate'}}</p>
    <p>
    Your individual lodgings and activities are:
    </p>
    <div class="servicelist">
        <ul class="resorts unstyled">
            <li data-ng-repeat="service in reservation.services">
                    <span>{{service.service.title}} from {{ service.startDate }} to {{ service.endDate }} for {{service.amount}}</span>
                    <span id="selected{{service.service._id}}" class="hidden"></span>

                    <div id="listWrap{{service._id}}">
                    <div>{{service.serviceType}}</div>
                    <div>{{service.content}}</div>
                    <img width="100px" src="{{service.service.thumbnailUrl}}">

 <!--                    <div class="btn btn-base btn-dark" id="{{service._id}}" ng-click="serviceDetails($event)">ViewDetails</div>
                    <div class="btn btn-base btn-dark" id="{{service._id}}" ng-click="selectServices($event)">Select</div> -->
                    <!-- if this div doesn't follow the previois, the ui will break -->
                </div>
            </li>
        </ul>
        <h1 data-ng-hide="!services || services.length">No resorts match
            <br>please pick another time/destination <a href="/#!/bookingflow/create">Create One</a>?</h1>
    </div>

    <h3>Your Total Price is: {{total}}</h3>
    <div class="container">
    <div  class="btn btn-success" ng-click="confirmBooking()">
        <div class="navbar-inner navbar-content-center">
        Finalize your booking
        </div>
    </div>
</div>
</div>
</section>
