<section class="container" data-ng-controller="BookingFlowController" data-ng-init="initialize()">
  <h2>Select your dates and destination</h2>
  <div class="row">
    <div class="col-md-8 pick-date-destination" style="margin-top: 15px;">
      <div class="form-group">
          <label class="control-label" for="content">Start Date</label>
          <div class="controls">
              <input type="date" data-ng-model="startDate" id="startDate" class="form-control" placeholder="Start Date" />
          </div>
      </div>
      <div class="form-group">
          <label class="control-label" for="content">End Date</label>
          <div class="controls">
              <input type="date" data-ng-model="endDate" id="endDate" class="form-control" placeholder="End Date" />
          </div>
      </div>
      <div class="form-group">
          <label class="control-label" for="location">Destination</label>
          <div class="controls">
              <input type="text" data-ng-model="destination" id="destination" class="form-control" placeholder="Destination" />
          </div>
      </div>
      <div class="btn btn-base btn-dark" ng-click="create()">Continue</div>
    </div>
  </div> 
</section>
