<section data-ng-controller="BookingFlowController" data-ng-init="findResortServices(); findOneReservation();">
    <div class="container">
    <h2>Select your resorts</h2>
    <div class="servicelist">
        <ul class="resorts unstyled">
            <li data-ng-repeat="service in services">
                
                
                    <span>{{service.title}}</span>
                    <span id="selected{{service._id}}" class="hidden green"></span>

                    <div id="listWrap{{service._id}}">
                    <!--<div>{{service.serviceType}}</div>-->
                    <div>{{service.content}}</div>
                    <img width="100px" src="{{service.thumbnailUrl}}">
					&nbsp;
                    <div class="btn btn-base btn-dark" id="{{service._id}}" ng-click="lodgingServiceDetails($event)">ViewDetails</div>
                    <div class="btn btn-base btn-dark" id="{{service._id}}" ng-click="selectServices($event)">Select</div>
                    <!-- if this div doesn't follow the previois, the ui will break -->
                    <div class="hidden">
                        <div class="row">
                            <div class="col-md-8 pick-date-destination" style="margin-top: 15px;">
                                <div class="form-group">
                                    <label class="control-label" for="content">Start Date</label>
                                    <div class="controls">
                                        <input type="date" id="startDate{{service._id}}" class="form-control" placeholder="Start Date" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="content">End Date</label>
                                    <div class="controls">
                                        <input type="date" id="endDate{{service._id}}" id="endDate" class="form-control" placeholder="End Date" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="amount">How many?</label>
                                    <div class="controls">
                                        <input type="number" id="amount{{service._id}}" id="amount" class="form-control" placeholder="amount" />
                                    </div>
                                </div>
                                <div class="btn btn-base btn-dark" ng-click="postServiceDates()">Book</div>
                            </div>
                        </div>
                    </div>
                </div>
				<hr>
            </li>
        </ul>
        <h1 data-ng-hide="!services || services.length">No resorts match
            <br>please pick another time/destination <a href="/#!/bookingflow/create">Create One</a>?</h1>
    </div>
    </div>
    <div id="footer" class="finish-booking container" ng-click="changeToSelectActivity()">
		<button class="btn btn-success finish-booking-button">
			Next: Select your activities
		</button>
		<!--
		<nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-inner navbar-content-center">
        Select your activities
        </div>
		-->
	</div>
</section>
