<div class="well">
    <h2>Start Up CMS</h2> 

    <h3>{{#link-to 'articles.create'}}Create article {{/link-to}}</h3>
    <h4>The current name is: {{name}}</h5>
    {{outlet}}
    <button {{action 'openModal' 'modal' model}}>Change Name</button>
</div>