<div class="container">
    <div class="row">
        <div class="template">

            <button {{action "loadTemplates"}} class="btn btn-large">Load available templates</button>

        </div>
    </div>
</div>
