{{#modal-dialog}}
<div class="modal-header centerAlign">
	<h4 class="centerAlign">Change name</h4>
</div>
<div class="modal-body">
	<p>Enter a new name:</p>
	<p>{{input value=name}}</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" {{action "close"}}>Close</button>                    
</div>
{{/modal-dialog}}