<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="https://www.facebook.com/2008/fbml" itemscope="itemscope" itemtype="http://schema.org/Product">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Full Stack JS Boilerplate</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="keywords" content="node.js, express, mongoose, mongodb, emberjs">
    <meta name="description" content="Full Stack JS Boilerplate - A Modern Stack: MongoDB, ExpressJS, EmberJS, NodeJS. (BONUS: Passport User Support).">
    <link href="/img/icons/favicon.jpg" rel="shortcut icon" type="image/x-icon">
    <meta property="fb:app_id" content="APP_ID">
    <meta property="og:title" content="Full Stack JS Boilerplate - A Modern Stack - A Modern Stack - Development">
    <meta property="og:description" content="Full Stack JS Boilerplate - A Modern Stack: MongoDB, ExpressJS, EmberJS, NodeJS. (BONUS: Passport User Support).">
    <meta property="og:type" content="website">
    <meta property="og:url" content="APP_URL">
    <meta property="og:image" content="APP_LOGO">
    <meta property="og:site_name" content="Full Stack JS - A Modern Stack">
    <meta property="fb:admins" content="APP_ADMIN">

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <!--<link rel="stylesheet" href="http://yui.yahooapis.com/3.14.0/build/cssreset/cssreset-min.css"> -->
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- endbuild -->
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>

    {{{ yield }}}
    
    <script src="/ember/global.js"></script>
    <!--ember stuff -->
    <!-- build:js scripts/components.js -->
    <script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
    <script src="/lib/moment/min/moment.min.js"></script>
    <script src="/lib/handlebars/handlebars.runtime.js"></script>
    <script src="/lib/ember/ember.js"></script>
    <script src="/lib/ember-data/ember-data.js"></script>

    <!-- endbuild -->

    <!-- build:js(.tmp) scripts/templates.js -->
    <script src="compiled-templates.js"></script>
    <!-- endbuild -->

    <!-- build:js(.tmp) scripts/main.js -->
    <script src="combined-scripts.js"></script>
    <!-- endbuild -->


    <!-- build:js scripts/plugins.js -->
    <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/lib/pickadate/lib/picker.js"></script>
    <script type="text/javascript" src="/lib/pickadate/lib/picker.date.js"></script>
    <script type="text/javascript" src="/lib/pickadate/lib/picker.time.js"></script>
    <!-- endbuild -->


    <!--livereload script rendered -->
    <script type="text/javascript" src="http://localhost:35729/livereload.js">
    </script>
</body>

</html>
